@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold.woff2') format('woff2'),
      url('Poppins-Bold.woff') format('woff'),
      url('Poppins-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Medium.woff2') format('woff2'),
      url('Poppins-Medium.woff') format('woff'),
      url('Poppins-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.woff2') format('woff2'),
      url('Poppins-Regular.woff') format('woff'),
      url('Poppins-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Thin.woff2') format('woff2'),
      url('Poppins-Thin.woff') format('woff'),
      url('Poppins-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


body{
  font-family: 'Poppins';
}


.hero-head {
  margin-top: 2rem;
}
a.navbar-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 0px 10px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 21px;
  width: 168px;
  justify-content: center;
  height: fit-content;
}
.navbar-start img {
  max-height: 90px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 20px 20px;
  overflow: initial;
  box-shadow: 3px 3px 5px 2px #b1aeae;
}
.navbar-start .navbar-item {
  padding: 0px;
  border: 0px;
  width: auto;
  transition: 0.3s;
}
.navbar-start .navbar-item:hover,  .navbar-start .navbar-item:focus{
  border-radius: 50%;
  background-color: #f9ccff;
  transform: scale(1.1);
  box-shadow: none;
}
a.navbar-item:hover {
  background-color: #f9ccff;
  color: #363636;
  box-shadow: 3px 3px 5px 2px #b1aeae;
  transition: 0.3s;
}


h1.title {
  letter-spacing: 1px;
  font-size:32px;
}
figure.image {
  margin: 0px auto 50px auto;
}
h2.subtitle {
  padding-top: 8px;
  font-size: 20px;
}


.main-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #b9b9b9;
  width: 80%;
  margin: auto;
}
.form-left{
  background-color: #4a4a4a;
  color:#fff;
  padding-top: 2rem;
}
.form-left h3 {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 25px;
}
.form-left figure{
  /* border: 1px solid; */
  /* background-color: #f9ccff; */
  padding: 20px;
  margin-bottom: 15px;
  width: 65%;
  margin: auto;
}
h4 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

.form-right h3.title {
  text-align: left;
  padding: 20px 20px;
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
}
.form-right .box {
  box-shadow: none;
  padding: 3rem 1rem 0rem 1rem;
}
.form-right label.checkbox {
  display: block;
  text-align: left;
  font-size: 12px;
}
.form-right .box .field {
  margin-bottom: 20px;
}
.form-right input{
  border:1px solid #4a4a4a;
}
.no-acc{
  margin: 2rem 0rem 0rem 0rem;
  font-size: 13px;
  display: block;
  color: #363636;
}
.form-right button {
  background-color: #4a4a4a !important;
}
.form-right {
  padding: 15px 20px;
}
.form-right label.checkbox input {
  height: 11px;
}
.form-right input:focus{
  border-color: #4a4a4a80;
}
.form-right .notification.is-danger {
  background-color: transparent;
  color: red;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 32px;
  height: 0px;
  font-size: 14px;
}
.form-right button{
  text-transform: uppercase;
  font-weight: 500;
  height: auto !important;
  padding: 12px !important;
}
.form-right button:hover {
  box-shadow: -1px 0px 6px 2px #898989;
}
.sign-up {
  margin-top: 2rem;
}




/* TABLE LAYOUT */
.table-fullwidth {
  width: 100%;
}
.table-wrapper {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 18px 16px 8px 4px #b1aeae73;
}
thead th {
  text-align: center !important;
  padding: 20px 10px !important;
  border: 1px solid #dddddd !important;
  background-color: #363636;
  color: #fff !important;
  font-weight: 400;
}
thead{
  border:1px solid #dddddd !important;
}
td {
  padding: 8px 10px !important;
  width:33.3%;
  border:1px solid #dddddd !important;
  font-size: 15px;
  vertical-align:middle !important;
}
.table-striped>tbody>tr:nth-of-type(even)>* {
  background-color:#afafaf52;
}
.table-wrapper {
  background-color: #fff;
  padding: 20px 20px;
}
.table-wrapper h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 25px;
  text-align: left;
  margin-bottom: 1rem;
}
.action-btns {
  display: flex;
  justify-content: center;
}
.action-btn-wrapper {
  margin: 0px 10px;
}
.action-btn-wrapper button {
  width: 120px;
  padding: 5px 30px;
  font-size: 15px;
  height: auto;
}

