{% extends "base.html" %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-8">
        <table class="table table-fullwidth">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>
                        <div class="action-btns">
                            <div class="action-btn-wrapper">
                                <button type="button" class="addBtn">Add</button>
                            </div>
                            <div class="action-btn-wrapper">
                                <button type="button" class="deleteBtn">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}